.topBar {
    background-image: url("./img/bannerbg.png");
    left: 0px;
    right: 0px;
    float: none;
    width: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: url("./img/background.png");
}

h1 {
    text-align: center;
    font: 24pt bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

.movieBar {
    position: relative;
    margin: auto;
    width: 800px;
    border: 4px gray solid;
    border-radius: 20px;
    overflow: hidden;
    background-image: url("./img/background.png");
    height: 50%;
}

.movieBarLeft {
    width: 550px;
    float: left;
    background-image: url("./img/background.png");
    left: 0px;
    right: 0px;
    top: 0px;
    float: left;
}

.movieBarRight {
    width: 250px;
    float: right;
    background-color: #A2B964;
}

.movieBarLeftImg {
    float: left;
}

.movieBarLeftHeading {
    color: red;
    font: 48pt bold;
    margin-left: 8%;
    background-image: url("./img/rbg.png");
    line-height: 130%;
    object-fit: cover;
}

.commentsArea {
    column-count: 2;
    column-gap: 2%;
    column-fill: auto;
    float: left;
    margin: 3%;
}

.commentard {
    display: inline-block;
}

.comment {
    color: black;
    font-size: 8pt;
    font-weight: bold;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    min-height: 25px;
    background-color: #e8dc9b;
}

.commentator {
    font-size: 8pt;
    padding: 8px;
    color: black;
    margin: 5px;
}

.description {
    margin: 10pt;
}

.description dt {
    font-weight: bold;
    padding-top: 10pt;
}

.description li {
    list-style-type: none;
}

.commentatr img {
    float: left;
}

.numPages {
    background-color: #a2b964;
    width: inherit;
    position: absolute;
    bottom: 0px;
    text-align: center;
}